<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547166427417-eehjpntqacu76m07fbjjcbvf39gmn2pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547166427417-eehjpntqacu76m07fbjjcbvf39gmn2pt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>547166427417-ihh3qb74jepi8odqaibou588rkhpc37a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCTwKlinQTKPim1QygKCH83riwqDomsNI</string>
	<key>GCM_SENDER_ID</key>
	<string>547166427417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suqokaz.app</string>
	<key>PROJECT_ID</key>
	<string>suq-okaz</string>
	<key>STORAGE_BUCKET</key>
	<string>suq-okaz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547166427417:ios:a920789614895841544d88</string>
	<key>DATABASE_URL</key>
	<string>https://suq-okaz.firebaseio.com</string>
</dict>
</plist>